In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm

strokedata = pd.read_csv('healthcare-dataset-stroke-data.csv')
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

# Creating test and training data frame

In [10]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(strokedata, test_size=0.3)

Train dat consists of [3577 rows x 12 columns]  and test data consists [1533 rows x 12 columns]

In [9]:
ols_object = sm.ols(formula = 'stroke~avg_glucose_level+age*bmi', data = train)
model = ols_object.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 stroke   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.068
Method:                 Least Squares   F-statistic:                     63.76
Date:                Sun, 26 Feb 2023   Prob (F-statistic):           4.55e-52
Time:                        13:08:44   Log-Likelihood:                 628.25
No. Observations:                3434   AIC:                            -1246.
Df Residuals:                    3429   BIC:                            -1216.
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -0.0156      0.027     -0.574      0.566      -0.069       0.038
avg_glucose_level     0.0005   8.07e-05      5.795      0.000       0.000       0.001
age                   0.0010      0.001      1.607      0.108      -0.000       0.002
bmi                  -0.0030      0.001     -3.028      0.002      -0.005      -0.001
age:bmi            4.421e-05   2.27e-05      1.945      0.052   -3.59e-07    8.88e-05
==============================================================================
Omnibus:                     2711.510   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38990.754
Skew:                           3.886   Prob(JB):                         0.00
Kurtosis:                      17.563   Cond. No.                     1.19e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.19e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""